<div
    style="display: flex;  background-color: #e1e4e9; flex-direction: column; justify-content: space-between; min-height: 100vh; position: relative; text-align: center;">

    <div style="
      margin-top: 2vh;
      border-radius: 30px;
      background-color: white;
      display: flex;
      align-items: center;
      padding: 10px;
      width: 90%;
      max-width: 80rem;
      height: 85px;
      /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); */
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
    ">

        <!-- FROM -->
        <div style="flex:1; display:flex; align-items:center; gap:10px; padding:10px;">
            <img [src]="getOnBus" alt="Bus Icon" style="width:22px; height:25px;">

            <div style="text-align:left; flex: 1; position: relative;">
                <div
                    style="font-size:14px; font-weight: 500; margin-left:2px; color:#888; font-family: 'Montserrat', sans-serif;">
                    From
                </div>

                <input type="text" (keydown)="handleFromKeyDown($event)" [(ngModel)]="fromLocation"
                    (focus)="onFocusFromLocation()" (input)="filterFromLocations()" (blur)="onBlurFromLocation()"
                    placeholder="Enter city or station"
                    style="font-family: 'Montserrat', sans-serif; font-size:16px; font-weight:600; color:#000; border:none; outline:none; width:100%; background:transparent; padding-top: 2px; cursor: pointer;">

            </div>
        </div>

        <!-- EXCHANGE -->
        <div
            style="flex:1; display:flex;margin-right: -115px;margin-left: -100px; align-items:center; justify-content:center; cursor: pointer;">
            <div class="exchangeBtn" (click)="swapLocations()">
                ⇄
            </div>
            <div style="width:1px; background-color:#d3d1d1; height:6.6rem;"></div>
        </div>


        <!-- Divider -->

        <!-- TO -->
        <div style="flex:1; display:flex; align-items:center; gap:10px; padding:10px;">
            <img [src]="getOffBus" alt="Bus Icon" style="width:22px; height:25px;">
            <div style="text-align:left;">
                <div
                    style="margin-left:2px; font-size:14px; font-weight: 500; color:#888; font-family: 'Montserrat', sans-serif;">
                    To</div>
                <input type="text" (keydown)="handleToKeyDown($event)" [(ngModel)]="toLocation"
                    (focus)="onFocusToLocation()" (input)="filterToLocations()" (blur)="onBlurToLocation()"
                    placeholder="Enter City or station"
                    style="font-family: 'Montserrat', sans-serif; font-size:16px; font-weight:600; color:#000; border:none; outline:none; width:100%; background:transparent; padding-top: 2px; cursor: pointer;">
            </div>
        </div>

        <!-- Divider -->
        <div style="width:1px; background-color:#d3d1d1; height:6.6rem;"></div>

        <!-- DATE -->
        <div style="flex:1; display:flex; align-items:center; gap:10px; padding:10px; cursor: pointer;">
            <img [src]="calendar" alt="Calendar Icon" style="width:33px; height:35px; cursor: pointer;">
            <div #calendarRef style="text-align:left; cursor: pointer;">
                <div style="margin-left:2px; font-size:14px; font-weight: 500; color:#888;">Date</div>
                <input type="text" class="datePickerToggle" readonly
                    [value]="selectedDate ? getFormattedDate(selectedDate) : inputDate" (click)="toggleCalendar()"
                    style="cursor: pointer; font-family: 'Montserrat', sans-serif; font-size:16px; font-weight:600; color:#000; border:none; outline:none; width:100%; background:transparent;">

                <div style="margin-left:2px; font-size:14px; font-weight: 500; color:#888;">2025</div>
            </div>
        </div>

        <!-- SEARCH BUTTON -->
        <button type="button" (click)="againSearchBus()" style="
      background-color: #d84e55;
      color: white;
      border: none;
      padding: 10px 15px;      
      font-size:17.6px;
      font-family: 'Montserrat', sans-serif;
      font-weight:bold;
      height:100%;
      border-top-right-radius:50px;
      border-bottom-right-radius:50px;
      cursor: pointer;">
            SEARCH BUSES
        </button>

    </div>

    <!-- Suggestion Dropdown For From-Location -->
    <div class="from-dropdown" *ngIf="showFromSuggestions && filteredFromLocations.length > 0">
        <div *ngFor="let location of filteredFromLocations; let i = index" [class.highlighted]="i === fromFocusedIndex"
            (mousedown)="selectFromLocation(location)" class="from-dropdown-item">
            <span class="from-dropdown-icon">
                <img [src]="location.locationType === 'Urban' ? urbanLocation : locationPin" alt="location"
                    class="from-dropdown-img">
            </span>

            <div class="from-dropdown-text">
                <span class="from-dropdown-name">{{ location.locationName }}</span>
                <span *ngIf="location.locationSub" class="from-dropdown-sub">{{ location.locationSub }}</span>
            </div>
        </div>
    </div>

    <!-- ----------------------------- -->

    <!-- Suggestion Dropdown For To Location -->
    <div class="to-dropdown" *ngIf="showToSuggestions && filteredToLocations.length > 0">
        <div *ngFor="let location of filteredToLocations; let i = index" [class.highlighted]="i === toFocusedIndex"
            (mousedown)="selectToLocation(location)" class="to-dropdown-item">
            <span class="to-dropdown-icon">
                <img [src]="location.locationType === 'urban' ? urbanLocation : locationPin" alt="location"
                    class="to-dropdown-img">
            </span>

            <div class="to-dropdown-text">
                <span class="to-dropdown-name">{{ location.locationName }}</span>
                <span *ngIf="location.locationSub" class="to-dropdown-sub">{{ location.locationSub }}</span>
            </div>
        </div>
    </div>
    <!-- ----------------------------- -->
    <!-- Date Picker -->
    <div class="datePickerToggle date-picker" *ngIf="calendarOpen">

        <!-- Month Header -->
        <div class="month-header">
            <button (click)="previousMonth()" [disabled]="isAtInitialMonth()" class="left-arrow"
                [style.color]="isAtInitialMonth()? '#ccc':'#000'">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
            <span>{{ formattedMonth }}</span>
            <button (click)="nextMonth()" class="right-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>

        <!-- Days of the Week -->
        <div class="week-days">
            <span *ngFor="let day of weekDays">{{ day }}</span>
        </div>

        <!-- Dates Grid -->
        <div class="dates-grid">
            <ng-container *ngFor="let date of datesInMonth">
                <span *ngIf="date !== null; else emptyCell" [style.color]="
                  isSelectedDate(date)
                    ? 'red'
                    : isToday(date)
                    ? '#fff'
                    : isPastDate(date)
                    ? '#ccc'
                    : '#000'
                " [style.background]="isToday(date) ? '#222' : 'transparent'"
                    [style.pointerEvents]="isPastDate(date) ? 'none' : 'auto'" class="date-cell"
                    (click)="!isPastDate(date) && selectDate(date)">
                    {{ getDateValue(date) }}
                </span>

                <ng-template #emptyCell>
                    <span class="empty-cell"></span>
                </ng-template>
            </ng-container>
        </div>



    </div>
    <!-- ------------------------ -->
    <div style="margin-top: auto; padding-bottom: 20px;">
        <app-search-bus-result
            *ngIf="showChild && searchObj.fromLocationId && searchObj.toLocationId && searchObj.travelDate"
            [dataFromParent]="searchObj"></app-search-bus-result>
    </div>
</div>