/* fromlocation Dropdown ------------------- */
.from-dropdown {
    position: absolute;
    top: 8.5rem;
    left: 19.5rem;
    width: 25rem;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    z-index: 1000;
    max-height: 250px;
    overflow-y: auto;
}

.from-dropdown-item {
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #eee;
}

.highlighted {
    background-color: #eaeaea;
}

.from-dropdown-icon {
    font-size: 18px;
}

.from-dropdown-img {
    width: 15px;
}

.from-dropdown-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.from-dropdown-name {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.from-dropdown-sub {
    font-size: 12px;
    color: #888;
}


/* toLocation Dropdown ------------------ */
.to-dropdown {
    position: absolute;
    top: 8.5rem;
    left: 44.5rem;
    width: 25rem;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    z-index: 1000;
    max-height: 250px;
    overflow-y: auto;
}

.to-dropdown-item {
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #eee;
}

.to-dropdown-icon {
    font-size: 18px;
}

.to-dropdown-img {
    width: 15px;
}

.to-dropdown-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.to-dropdown-name {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.to-dropdown-sub {
    font-size: 12px;
    color: #888;
}







/* Date Picker --------------------  */
.datePickerToggle.date-picker {
    position: absolute;
    top: 8.5rem;
    left: 2rem;
    cursor: pointer;
    width: 22rem;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    z-index: 1000;
}

.date-cell.focused {
    outline: 2px solid #007bff;
    border-radius: 4px;
}

.month-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-weight: 600;
    color: #5c5b5b;
    cursor: pointer;
}

.left-arrow,
.right-arrow {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: 600;
    color: #888;
    padding: 0 1rem;
}

.dates-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 1rem;
}

.date-cell {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.empty-cell {
    padding: 10px;
    border-radius: 50%;
    cursor: default;
}

.exchangeBtn {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #444;
}

.exchangeBtn:hover {
    background-color: #ccc;
    color: #302f2f;
}

/* Small tablets (≥ 480px) */
@media (min-width: 480px) {
    .datePickerToggle.date-picker {
        left: 16rem;
    }

    .to-dropdown {
        left: 8rem;
    }

    .from-dropdown {
        left: 2rem;
    }
}

/* Medium tablets (≥ 768px) */
@media (min-width: 768px) {
    .datePickerToggle.date-picker {
        left: 32rem;
    }

    .to-dropdown {
        left: 16rem;
    }

}

/* Laptops (≥ 992px) */
@media (min-width: 992px) {
    .datePickerToggle.date-picker {
        left: 40rem;
    }

    .to-dropdown {
        left: 19.5rem;
    }

    .from-dropdown {
        left: 3rem;
    }
}

/* Desktops (≥ 1200px) */
@media (min-width: 1200px) {
    .datePickerToggle.date-picker {
        left: 46rem;
    }

    .to-dropdown {
        left: 27rem;
    }

    .from-dropdown {
        left: 6rem;
    }
}

/* Large desktops (≥ 1400px) */
@media (min-width: 1400px) {
    .datePickerToggle.date-picker {
        left: 55rem;
    }

    .to-dropdown {
        left: 44.5rem;
    }

    .from-dropdown {
        left: 12rem;
    }
}

@media (min-width:1500px) {
    .from-dropdown {
        left: 19.5rem;
    }
}