<div class="container">
    <div class="login">
        <!-- Left Section -->
        <div class="left-panel" *ngIf="!ForgotPass">
            <img [src]="redBus" alt="logo" class="logo" />
            <h2>Log in to your Account</h2>
            <p class="subtitle">Welcome back! Select a method to log in:</p>

            <div class="social-buttons">
                <button class="btn social google">
                    <img [src]="googleSvg" alt="google" />
                    Google
                </button>
                <button class="btn social facebook">
                    <img [src]="metaSvg" alt="meta" />
                    Facebook
                </button>
            </div>

            <div class="divider"><span>Login with Email & Password</span></div>

            <div class="form">
                <input type="text" #EmailID="ngModel" minlength="8" [(ngModel)]="emailId" placeholder="Email"
                    required />
                <div class="error" *ngIf="EmailID.invalid && EmailID.touched">
                    <small *ngIf="EmailID.errors?.['required']">Name is required.</small>
                    <small *ngIf="EmailID.errors?.['minlength']">Name must be at least 8 characters.</small>
                </div>
                <div class="password-wrapper">
                    <input [(ngModel)]="password" *ngIf="!ForgotPass" [type]="showPassword ? 'text' : 'password'"
                        placeholder="Password" required />
                    <button type="button" *ngIf="!ForgotPass" class="toggle-btn" (click)="togglePasswordVisibility()">
                        <i [class]="showPassword?  'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
                    </button>
                </div>



                <div class="options">
                    <label><input type="checkbox" /> Remember me</label>
                    <span (click)="ForgotPassClick()">Forgot Password?</span>
                </div>
                <button type="button" (click)="Login()" class="btn login-btn">Log in</button>
            </div>


            <p class="signup">
                Don’t have an account?
                <span (click)="redirectToRegisterNewUser()">Create an account</span>
            </p>
        </div>




        <!-- 2Left Section -->
        <div class="left-panel" *ngIf="ForgotPass">
            <img [src]="redBus" alt="logo" class="logo" />
            <h2>Reset your Account Password</h2>
            <p class="subtitle">Your are one click away reseting account password</p>

            <div class="social-buttons">
                <button class="btn social google" [style.pointerEvent]="ForgotPass? 'none' : ''">
                    <img [src]="googleSvg" alt="google" />
                    Google
                </button>
                <button class="btn social facebook" [style.pointerEvent]="ForgotPass? 'none' : ''">
                    <img [src]="metaSvg" alt="meta" />
                    Facebook
                </button>
            </div>

            <div class="divider" *ngIf="!otpField"><span>OTP will be sent to registered E-mail</span></div>
            <div class="divider" *ngIf="otpField"><span>Reseting Account Password is Easy Nowdays</span></div>

            <div class="form" *ngIf="!SubmitOtp">
                <input type="text" [(ngModel)]="emailId" #EmailIdViewChild="ngModel"
                    [style.border-color]="EmailIdViewChild.invalid && EmailIdViewChild.touched?'red':''"
                    [disabled]="otpField" placeholder="Email" required />
                <div class="password-wrapper">
                    <button type="button" *ngIf="!ForgotPass" class="toggle-btn" (click)="togglePasswordVisibility()">
                        <i [class]="showPassword?  'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
                    </button>


                    <input [(ngModel)]="otp" type="text" *ngIf="otpField" placeholder="OTP" required />
                </div>
                <div class="options-otp" *ngIf="otpField">
                    <button [disabled]="isButtonDisabled" (click)="reSendOTP()">{{ isButtonDisabled ? 'Resend OTP in ' +
                        currentTimer + 's' : 'Resend OTP' }}</button>
                </div>

                <button type="button" (click)="SendOTP()" [disabled]="clickedOnSendOTP" *ngIf="!otpField"
                    class="btn login-btn">
                    <ng-container *ngIf="loadingOTP; else defaultText">
                        <span class="spinner"></span> Sending...
                    </ng-container>
                    <ng-template #defaultText>Send OTP</ng-template>
                </button>

                <button type="button" (click)="submitOtp()" *ngIf="otpField" class="btn login-btn">Submit</button>
            </div>


            <div class="form" *ngIf="SubmitOtp">
                <input type="text" [(ngModel)]="emailId" [disabled]="SubmitOtp" placeholder="Email" required />
                <div class="password-wrapper">
                    <input [(ngModel)]="newPass" [type]="showNewPassword ? 'text' : 'password'"
                        placeholder="New Password" required />

                    <button type="button" class="toggle-btn" (click)="toggleNewPasswordVisibility()">
                        <i [class]="showNewPassword?  'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
                    </button>
                </div>

                <div class="password-wrapper">
                    <input [(ngModel)]="cnfNewPass" [style.border-color]="(newPass==cnfNewPass)?'green':'red'"
                        [type]="showCnfNewPassword ? 'text' : 'password'" placeholder="Confirm New Password" required />

                    <button type="button" class="toggle-btn" (click)="toggleCnfNewPasswordVisibility()">
                        <i [class]="showCnfNewPassword?  'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
                    </button>

                </div>
                <div class="error" *ngIf="newPass !== cnfNewPass">
                    <small>Password doesn't match.</small>
                </div>

                <button type="button" [disabled]="newPass !== cnfNewPass" (click)="updatePassword()"
                    class="btn login-btn">Reset Password</button>
            </div>

        </div>













        <!-- Right Section -->
        <div class="right-panel">
            <div class="floating-logo-wrapper">
                <img *ngFor="let logo of floatingLogos" [src]="redBus" class="floating-logo"
                    [ngClass]="'float-' + logo.direction" [style.top]="logo.top" [style.left]="logo.left"
                    [style.width]="logo.size" [style.animationDuration]="logo.duration"
                    [style.animationDelay]="logo.delay" />
            </div>
            <div class="content">
                <h3>Life's better on wheels</h3>
                <p>Adventure awaits, so hop on the bus and let your soul roam free. </p>
            </div>
        </div>

    </div>
</div>