<header id="main_header" class="fixed_header">
    <div class="rb_header">
        <span class="rb_logo" (click)="goHome()">
            <img [src]='redBusLogo' alt="redBus" class="rb_logo rb_logo_header" title="redBus">
        </span>
        <span class="vertical_seperator"></span>

        <ul class="rb_verticals">
            <li id="bus_tickets_vertical" class="rb_vertical link active">
                <img [src]="redBusLogo" alt="Online Bus Tickets Booking" class="img_rb_vertical">
                <span>Bus Tickets</span>
            </li>
            <li id="rail_tickets_vertical" class="rb_vertical link">
                <div class="img_rb_vertical_wrap">
                    <div class="img_new_wrap">
                        <img [src]="railLogo" alt="Online Train Tickets Booking" class="img_rail_vertical">
                        <span class="img_tag">₹60 off</span>
                    </div>
                </div>
                <span class="name_rb_vertical">Train Tickets</span>
            </li>
        </ul>

        <ul class="rb_secondary_items">
            <!-- Help -->
            <li id="help_readcare" class="rb_secondary_item">
                <div class="rb_main_secondary_item">
                    <i class="icon fa-solid fa-headset"></i>

                    <span>Help</span>
                </div>
            </li>

            <!--- Language -->
            <li class="language-selector rb_secondary_item" style="position: relative;" #dropdownRef>
                <div (click)="toggleDropdown()" class="language-toggle"
                    style="display: flex; padding: 0.375rem 0.5rem; align-items: center; cursor: pointer;">
                    <i class="fas fa-globe" style="font-size: 18px; margin-right: 0.375rem; width: 22px;"></i>                    
                    <span style="margin: 0 4px 0 2px; font-weight: 500;">{{langName}}</span>
                    <i class="fas fa-chevron-down" style="margin-top: 3px; font-size: 0.5rem;"></i>
                </div>

                <div class="dropdown" *ngIf="isLanguageDropdownVisible"
                    style="z-index: 100; position: absolute; top: 110%; left: 50%; transform: translateX(-50%); background: #fff; border-radius: 1rem; box-shadow: 0 0 1rem rgba(0,0,0,0.08); overflow: hidden;">
                    <!-- <ul class="dropdown-menu" style="width: max-content; max-width: 250px; padding: 8px 0;">
                        <li *ngFor="let lang of languages" class="dropdown-item" [class.selected]="lang.selected"
                            style="display: flex; padding: 1rem 1em; align-items: center; cursor: pointer;">
                            <i class="{{ lang.selected ? 'fas fa-check' : 'far fa-circle' }}"
                                style="font-size: 1rem; width: 1.5rem; margin-right: 0.75rem;"
                                [style.color]="lang.selected ? '#d84e55' : '#c1c1c1'"></i>
                            <span>{{ lang.name }}</span>
                        </li>
                    </ul> -->
                    <ul class="dropdown-menu" style="width: max-content; max-width: 250px; padding: 8px 0;">
                        <li *ngFor="let lang of languages" class="dropdown-item" [class.selected]="lang.selected"
                            (click)="selectLanguage(lang.code, lang.langName)"
                            style="display: flex; padding: 1rem 1em; align-items: center; cursor: pointer;">
                            <i class="{{ lang.selected ? 'fas fa-check' : 'far fa-circle' }}"
                                style="font-size: 1rem; width: 1.5rem; margin-right: 0.75rem;"
                                [style.color]="lang.selected ? '#d84e55' : '#c1c1c1'"></i>
                            <span>{{ lang.name }}</span>
                        </li>
                    </ul>

                </div>
            </li>


            <!-- Account -->
            <li class="rb_secondary_item" style="position: relative;" #accountDropdownRef>
                <div (click)="toggleAccountDropdown()" class="account-toggle"
                    style="display: flex; padding: 0.375rem 0.5rem; align-items: center;">
                    <i class="fa-solid fa-user" style="font-size: 18px; margin-right: 0.375rem; width: 22px;"></i>
                    <span style="margin: 0 4px 0 2px; font-weight: 500;">Account</span>
                    <i class="fas fa-chevron-down" style="margin-top: 3px; font-size: 0.5rem;"></i>
                </div>

                <div class="dropdown_wrap" *ngIf="isAccountDropdownVisible" [class.hide]="!isAccountDropdownVisible"
                    style="z-index: 100; position: absolute; top: 110%; left: 100%; transform: translateX(-75%); box-shadow: 0 0 1rem rgba(0, 0, 0, 0.08); border-radius: 1rem; overflow: hidden;">
                    <ul class="header_dropdown_menu"
                        style="width: max-content; max-width: 250px; padding: 8px 0; background-color: #fff;">

                        <ng-container *ngFor="let option of accountOptions; let i = index">
                            <li class="dropdown-item" style="padding: 1rem;"
                                (click)="handleAccountOptions(getOptionAction(option))">
                                {{ getOptionLabel(option) }}
                            </li>

                            <li *ngIf="i === 1" class="horizontal_seperator"
                                style="background: #e5e5e5; height: 1.5px; list-style: none; margin: 0;"></li>
                        </ng-container>



                    </ul>
                </div>
            </li>
        </ul>
    </div>
</header>